.card {
    background: var(--surface-card);
    padding: 0.1rem; /* Minimized padding for card */
    border-radius: 10px;
    margin-bottom: 1rem;
	
}

.table-wrapper {
    width: 100%;
    background: var(--surface-card);
    padding: 1rem; /* Adjusted padding */
    border-radius: 10px;
    margin-bottom: 1rem;
    overflow-x: auto;
}
/* .table-section{
    display: flex;
  justify-content: space-between;
}
.subb-section{
    flex: 1;
} */
.table-footer{
    padding: 5px;
}
/* .table-name {
    margin-bottom: 1rem;
    text-align: center;
} */

.custom-table .p-datatable {
    min-width: 50rem;
    border-spacing: 0; 
}

.custom-table .p-datatable-tbody > tr > td,
.custom-table .p-datatable-thead > tr > th {
	
    white-space: nowrap; /* Ensure content doesn't wrap */
    padding: 0.75rem 1rem; /* Increased padding for better spacing */
    font-size: 1.15rem;  /* Increased font size for better readability */
}
.custom-table .p-sortable-column {
    position: relative;
}

.custom-table .p-sortable-column .p-column-title {
    margin-right: 1rem; 
}

.custom-table .p-datatable-tbody > tr {
    height: auto; 
}
.custom-table .p-datatable-thead > tr > th {
	background-color: rgb(187, 187, 187);
}

.p-paginator {
    display: flex;
	padding-top: 5px;
	padding-bottom: 5px;
    justify-content: center;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    background: var(--surface-card);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.search-input {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    padding: 0 10px;
    background-color: white;
    font-size: 1.2rem; 
}

.search-input .p-inputtext {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 10px 10px 10px 35px;
    font-size: 1.2rem; 
}

.search-input .search-icon {
    position: absolute;
	top: 13px;
    left: 10px; 
    font-size: 1.2rem; 
    color: #999; 
}

.clear-button {
    padding: 10px 20px; 
    font-size: 1.2rem; 
    background-color: #e7f3fe;
    border-color: #b0d4f1;    
    color: #0c64c1;           
}


.copy-button-container {
    display: flex;
    align-items: center;
}

.copy-icon {
    margin-left: 0.5px;
    color: #999999;
	background-color: transparent !important;
	border: transparent !important;
	box-shadow: none !important; 
}

.copied-message{
	font-size: 10px;
}

/* prediction section */

.predict-section{
	display: flex;
	align-items: stretch;
	/* background-color: #ebebeb; */
	padding: 5px;
	margin-top: 20px;
	gap: 20px;
}

.sub-section {
    display: flex;
    flex-direction: column; 
}

.left-div{
	width: 80%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.left-div input{
	/* font-size: 30px; */
	width: 100%;
	/* padding: 10px; */
	padding: 0.60rem 0.60rem;
	border-radius: 8px;
    border-color: #999;
}

.left-div h2{
	font-size: 30px;
}
.left-div h5{
	font-family: 'Times New Roman', Times, serif;
	font-size: 15px;
	color: gray;
}
.right-div {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Center the button vertically */
}

 .right-div button{
    /* align-self: center; */
	height: calc(1.25rem + 0.75rem * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 1rem; */
	border-radius: 8px;
	
 }


/* the specific truck styling */

.get-info-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.truck-info-card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.truck-info-card p {
    margin: 10px 0;
    padding: 5px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.truck-info-card p span {
    font-weight: bold;
    display: inline-block;
    width: 150px;
}

.prediction-button {
    grid-column: 2;
    align-self: end;
    justify-self: end;
    padding: 10px 10px;
}

/* value prediction section */

.predict-value-card {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: start;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 30%;
 
}
.predict-value-card .predict-value {
   
    /* margin-left: 60px; */
    padding: 10px 10px;
    font-weight: bold; /* Example: Make the prediction value bold */
    color: #006b14; /* Example: Change the color of the prediction value */
}

.hidden{
    display: none;
}